<h1>Create a new user:</h1>

<form action="/users" method="POST">
  <label>Name:</label>
 
  <br>
 
  <input type="text" name="user[name]" id="user_name">
 
  <br>

  <input type="submit" value="Create User">
</form>