<h1>Welcome <%=@user.username%>! </h1>
<br>
<ul>
<% @user_recipes.each do |r| %>
    <li>
        <h1>
           	<h3><a href="/recipes/<%=r.id%>"><%= r.name.upcase %></a></h3>
        </h1>
    </li>
<% end %>
</ul>
<h3><a href="/recipes/new">Create a new recipe</a></h3>

<!-- @item.error for error
      @item.erorr.full_messages 

      @item.erorr.full_messages.each do |x|

      x-->