<h1>Welcome <%=@user.username%>! </h1>
<br>
<h3>Recipe 1</h3><a href="">Edit</a><br><a href="">Delete</a>
<br>
<h3>Recipe 2</h3><a href="">Edit</a><br><a href="">Delete</a>
<br>
<h3>Recipe 3</h3><a href="">Edit</a><br><a href="">Delete</a>
<br>
<h3>Recipe 4</h3><a href="">Edit</a><br><a href="">Delete</a>